name: Build and deploy

on:
  push:
    branches: [main]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build
        env:
          # URL path prefix for the website where this project is hosted.
          # Preview repo (cbc-website--preview) → /cbc-website--preview
          # Main repo → /cbc-website (or empty string if using custom domain)
          #
          # TODO: Once the website is hosted on a custom domain, set BASE_PATH to empty string for prod
          BASE_PATH: ${{ github.repository == 'codebridgecollege/cbc-website--preview' && '/cbc-website--preview' || '/cbc-website' }}

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./out

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
